{% extends './base.html' %}
{% load static %}

{% block content %}


<div class="container py-3">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <span class="fs-4">Inglaterra</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="py-2 link-body-emphasis text-decoration-none me-3" href="{% url 'chfrontend:maps' %}">Maps</a>
        <a class="py-2 link-body-emphasis text-decoration-none" href="{% url 'chfrontend:logout' %}">Sign out</a>
      </nav>
    </div>
  </div>




<div class="container my-5">
    <h2 class="mb-4">Deixe uma descrição abaixo sobre a sua experiência na Inglaterra</h2>
    <!-- Lista de Cursos -->
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Instituição</th>
          <th>Duração do Curso</th>
          <th>Tipo de Certificado</th>
          <th>Custo de Vida da Região</th>
          <th>Avaliação Final</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <!-- Exibir formulário de criação de curso se o usuário estiver autenticado -->
        {% if request.user.is_authenticated %}
        <tr>
          <form method="post" action="{% url 'chfrontend:adicionar_curso' %}">
            {% csrf_token %}
            <td><input type="text" name="nome" placeholder="Nome do Curso" required></td>
            <td><input type="text" name="descricao" placeholder="Descrição do Curso" required></td>
            <td><input type="text" name="instituicao" placeholder="Instituição" required></td>
            <td>
              <select name="duracao">
                <option value="1">1 ano</option>
                <option value="2">2 anos</option>
                <option value="3">3 anos</option>
                <option value="4">4 anos</option>
                <option value="5">5 anos</option>
              </select>
            </td>
            <td>
              <select name="tipo_certificado">
                <option value="BSc">BSc</option>
                <option value="MSc">MSc</option>
                <option value="PhD">PhD</option>
              </select>
            </td>
            <td>
              <select name="custo_de_vida">
                <option value="Baixo">Baixo</option>
                <option value="Médio">Médio</option>
                <option value="Alto">Alto</option>
               
               
              </select>
            </td>
            <td>
              <select name="avaliacao_final">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </td>
            <td><button type="submit" class="btn btn-success btn-sm">Adicionar</button></td>
          </form>
        </tr>
        {% endif %}
  
        <!-- Exibir os cursos existentes -->
        {% for curso in cursos %}
        <tr>
          <td>{{ curso.nome }}</td>
          <td>{{ curso.descricao }}</td>
          <td>{{ curso.instituicao }}</td>
          <td>{{ curso.duracao }}</td>
          <td>{{ curso.tipo_certificado }}</td>
          <td>{{ curso.custo_de_vida }}</td>
          <td>{{ curso.avaliacao_final }}</td>
          <td>
            <form method="post" action="{% url 'chfrontend:excluir_curso' curso.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  
  <div class="container py-3">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 my-3 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="text-muted">© 2024 Company, Inc</span>
      </div>
    </footer>
  </div>
  
  {% endblock %}